{% extends "base.html" %} {% block title %} Changed {% endblock %}

{% block content %}

<hr>

{% if user is defined %}
<h3>User: {{user.username}}</h3>
<br>
<h5> Number of posts: {{num_posts}}</h5>
<br>
{% endif %}

<hr>

<h1 allign="center">Posts</h1>
<br>
<div class="well">
    {% if user is defined %}
    <div class="card">
        <ul class="list-group list-group-flash">
            {% for post in user.posts %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                        <img style="width:100%" src="{{ post.img }}" alt="/static/img/noimage.jpeg" class="">
                    </div>
                    <div class="col-md-8">
                        <a href="/posts/{{ post.id }}">
                            <h5>{{ post.img }}</h5>
                        </a>
                        <p>{{ post.data }}</p>
                        <small>Written on: {{ post.date }}</small>
                        <br>
                        <br>
                        <button class="btn btn-danger" type="button" onClick="deletePost({{ post.id }})">
                            Delete
                        </button>
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}