{% extends "base.html" %} {% block title %} Post {% endblock %}

{% block content %}

<br>
<br>

<a class="btn btn-default" href="/">
    <b>Go back</b>
</a>

<br>
<br>
<div class="col-md-12">
    <img style="width:100%" src="{{ post.img }}" alt="/static/img/noimage.jpeg">
    <br>
    <h5>{{ post.title }}</h5>
    <p>
        <b>Text:</b> {{ post.data }}
    </p>
    <hr>
    <small><b>Elapsed time: </b> {{ post.elapsed_time }}</small>
    <br>
    <small>Written on: {{ post.date }}</small>
</div>
<hr>

<a href="/edit/{{ post.id }}" class="btn btn-default"> Edit </a>
<br>
<button class="btn btn-danger" type="button" onClick="deletePost({{ post.id }})">
    Delete
</button>

{% endblock %}